
*{
  box-sizing: border-box;
  color: #FFF;
}

.favorite-button-false {
  background-color: #5B4447;
  background-image: url(images/favorite.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  border: 0;
  height: 30px;
  margin: 10px 5px;
  width: 35px;
}

.favorite-button-true {
  background-image: url(images/favorite-active.svg);
}


body{
  background-color: #C2B2B4;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0px;
  width: 100%;
}

h1{
  float: left;
  font-size: 60px;
  margin: 0;
  padding: 0;
}

h2{
  font-size: 20px;
  
}

.h2-input{
  color: #C2B2B4;
  font-weight: 600;
}

h3{
  font-size: 30px;
  font-weight: 600;
}

h4{
 color: #3E2A35;
 padding-left: 5px;
}

#no-photo-text{
  font-size: 60px;
  text-align: center;
}

.image-card h4{
  width:75%;
}

li{
  display: inline-flex;
  list-style-type: none;
}
input[type="text"] {
    color: black;
}

p{
  color: #3E2A35;
}

#dummy{
  border: 1px solid #C2B2B4;
}

.main-container{
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: 
}

.top-section{
  display: grid;
  grid-template-areas: "header" "image-upload-section"
  grid-template-rows: 1fr 5fr;
  max-height: 1200px;
}

span{
  color: #e26d5a;
}

.header{
  background-color: #3E2A35; 
}

.header-container{
  display: grid;
  grid-template-areas: "logo-section search-bar";
  grid-template-columns: 1fr 1fr;
}

.header img{
  margin: 0px 10px 0px 10px;
  padding: 0;
  width: 70px;
}

.logo-section{
align-items: baseline;
display: flex;
grid-area: logo-section;
margin: 10px 10px 20px 10px;
}

.search-bar{
align-items: center;
display: flex;
flex-direction: row;
grid-area: search-bar;
justify-content: flex-end;
}

.search-bar img{
  height: 40px;
}

.search-bar input{
  width: 640px;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
  border: 2px solid #C2B2B4;
}

.search-bar button{
  background-color: #C2B2B4;
  background-image: url("images/search-solid.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 0px 10px 10px 0px;
  border: none;
  height: 50px;
  margin-right: 10px;
  width: 60px;
}

.image-upload-section{
  background-color: #3E2A35;
}

.image-upload-section-container{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
}

.image-upload-section input{
  display: block;
  height: 60px;
  margin-bottom: 15px;
  width: 700px;
}

.image-input{
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  width: 0.1px;
  z-index: -1;
}

.image-input-label {
  background-color: #5B4447;
  border: none;
  display: block;
  height: 60px
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 1px;
  text-align: center;
  width: 100%;
}

.image-upload-section button{
  background-color: #5B4447;
  border-radius: 0px;
  border: none;
  height: 60px;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 700px;
}

.image-input-label:hover{
  background-color: #938284;
}

.side-by-side-container{
  justify-content: space-between;
  display: flex;
}

#side-by-side-button{
  background-color: #5B4447;
  border: none;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 15px;
  width: 43%;
}

#side-by-side-button:hover{
    background-color: #938284;
}

.image-section-content{
  display: flex;
  flex-direction: column;
  place-self: center;
}

.image-card-area{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.image-card{
  border: 2px solid #938284;
  display: grid;
  grid-template-rows: 50px 300px 75px 50px;
  margin-top: 20px;
  width: 304px;
}

#title-area{
  background-color: #FFF;
  color: #3E2A35;
}

#image-area img{
  height: 300px;
  object-fit: cover;
  width: 300px;
}

.image-size{
  height: 50px;

}

#caption-area{
  background-color: #FFF;
  
}

#bottom-area{
  background-color: #5B4447;
  display:flex;
  flex-direction: row;
  flex-flow: row;
  justify-content: space-between;
  padding: 5px;
}

#bottom-area img{
  height: 35px;
  padding-top: 5px;
 
}


/*--------MEDIA QUERIES--------*/
@media (max-width: 1300px) { 
  .header-container{
    display: grid;
    grid-template-areas: "logo-section" "search-bar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  h1{
    font-size: 90px;
  }
  .header img{
    width: 120px;
    margin: 0px 10px 0px 10px;
    padding: 0;
  }

  .top-section{
    grid-template-rows: 1fr;
  }

  .logo-section{
    justify-content: center;
  }

  .search-bar{
    justify-content: center;
    margin: 0px;
    width: 100%;
  }

  .search-bar button{
    margin-right: 0px;
  }
}

@media (max-width: 750px) { 
  .header-container{
    width: 100%;
    display: grid;
    grid-template-areas: "logo-section" "search-bar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  h1{
    font-size: 63px;
  }
  .header img{
    width: 83px;
    margin: 0px 10px 0px 10px;
    padding: 0;
  }

  h2{
    font-size: 15px;
  }

  .top-section{
    grid-template-rows: 1fr;
  }

  .logo-section{
    justify-content: center;
  }

  .search-bar{
    justify-content: center;
    margin: 0px;
    width: 100%;
  }

  .search-bar input{
    width: 440px;
    height: 50px;
  }

  .search-bar button{
    margin-right: 0px;
  }

  .image-upload-section-container{
    display: grid;
    grid-template-columns: 5px 1fr 5px; 
  }

  .image-upload-section input{
    width: 500px;
    height: 60px;
    margin-bottom: 15px;
    display: block;
  }

  .image-upload-section button{
    width: 500px;
    height: 60px;
    border-radius: 0px;
    background-color: #5B4447;
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .image-card-area{
    padding: 10px;
    justify-content: center;  
  }
}

@media (max-width: 550px) { 
  .header-container{
    width: 100%;
    display: grid;
    grid-template-areas: "logo-section" "search-bar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  h1{
    font-size: 50px;
  }

  .header img{
    width: 70px;
    margin: 0px 10px 0px 10px;
    padding: 0;
  }
  
  h2{
    font-size: 12px;
  }

  .top-section{
    grid-template-rows: 1fr;
  }

  .logo-section{
    justify-content: center;
  }

  .search-bar{
    justify-content: center;
    margin: 0px;
    width: 100%;
  }
  .search-bar input{
    width: 340px;
    height: 50px;
  }

  .search-bar button{
    margin-right: 0px;
  }

  .image-upload-section-container{
    display: grid;
    grid-template-columns: 5px 1fr 5px; 
  }

  .image-upload-section input{
    width: 400px;
    height: 60px;
    margin-bottom: 15px;
    display: block;
  }

  .image-upload-section button{
    width: 400px;
    height: 60px;
    border-radius: 0px;
    background-color: #5B4447;
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
  }
}

@media (max-width: 450px) { 
  .header-container{
    width: 100%;
    display: grid;
    grid-template-areas: "logo-section" "search-bar";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  h1{ 
    font-size: 35px
  }

  .header img{
    width: 55px;
    margin: 0px 10px 0px 10px;
    padding: 0;
  }

  h2{
    font-size: 10px;
  }

  .top-section{
    grid-template-rows: 1fr;
  }

  .logo-section{
    justify-content: center;
  }

  .search-bar{
    justify-content: center;
    margin: 0px;
    width: 100%;
  }

  .search-bar input{
    width: 240px;
    height: 40px;
  }

  .search-bar button{
    margin-right: 0px;
    height: 40px;
    background-size: 30px 30px;
  }

  .image-upload-section-container{
    display: grid;
    grid-template-columns: 5px 1fr 5px; 
  }

  .image-upload-section input{
    width: 300px;
    height: 40px;
    margin-bottom: 15px;
    display: block;
  }

  .image-upload-section button{
    width: 300px;
    height: 40px;
    border-radius: 0px;
    background-color: #5B4447;
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  #side-by-side-button{
    height: 40px;
  }

  .image-card-area{
    padding: 10px;
    justify-content: center;  
  }
}
